<header class="row mb-2">
    <div class="col-3">
        <img src="assets/img/logopetit.png" class="img-fluid">
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center ">
        <h1 class="titol2">Àgora</h1>
    </div>
    <div class="col-3 d-flex flex-column justify-content-end align-items-end">
        <div>
            <button class="btn btn-outline-primary border-0" *ngIf="isAuthenticated()">
                <i class="fas fa-cog"></i>
            </button>
        </div>
        <div>
            <button class="btn btn-outline-primary border-0 " *ngIf="isAuthenticated()" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
        <div>
            <button class="btn btn-outline-primary border-0 " *ngIf="!isAuthenticated()" (click)="login()">
                <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--<a class="navbar-brand" href="#">Inici</a>-->
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Inici</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['socis']">Socis</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['seccions']">Seccions</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['espais']">Espais</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inventari']">Inventari</a>
            </li>
        </ul>
    </div>
</nav>