<div class="row  d-flex justify-content-center  mt-4">
    <div class="col-4 shadow rounded p-5" style="background-color: antiquewhite;">
        <form autocomplete="off" [formGroup]="formLogin" (ngSubmit)="desar()">
            <fieldset>
                <legend>Accedir a Àgora</legend>
                <div class="form-group">
                    <input class="form-control" #myinput type="email" placeholder="email" formControlName="email" [class.is-invalid]="emailIncorrect">
                    <small *ngIf="emailIncorrect" class="text-danger">
                        Email incorrecte
                    </small>

                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" formControlName="password" [class.is-invalid]="passIncorrect">
                </div>
                <p *ngIf="error" class="text-danger">{{ msgError }}</p>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!formLogin.valid">Accedir</button>
            </fieldset>
        </form>
    </div>
</div>