<div class="container pt-2">
    <div class="row  justify-content-md-center">
        <div class="col-3 ">
            <div class="card shadow" style="min-height: 360px !important;">
                <img src="assets/img/socis2.png" class="card-img-top" alt="Socis/es">
                <div class="card-body">
                    <h5 class="card-title">Socis/es</h5>
                    <p class="card-text">Sense els socis i sòcies no té sentit la vostra entitat. Amb Àgora tindrà més senzill gestionar les dades, les necessitats i la comunicació amb els seus associats.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow" style="min-height: 360px !important;">
                <img src="assets/img/seccions2.png" class="card-img-top" alt="Seccions">
                <div class="card-body">
                    <h5 class="card-title">Seccions</h5>
                    <p class="card-text">Les seccions són l'ànima de la vostra entitat. Àgora ajuda a portar el dia a dia de les seccions i gestionar les seves necessitats.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow" style="min-height: 360px !important;">
                <img src="assets/img/espais.jpg" class="card-img-top" alt="Espais">
                <div class="card-body">
                    <h5 class="card-title">Espais</h5>
                    <p class="card-text">Control d'ús, relació de prestacions i serveis, manteniment, etc.... Amb Àgora pot gestionar facliment els espais de la seva entitat.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow" style="min-height: 360px !important;">
                <img src="assets/img/inventari2.png" class="card-img-top" alt="Inventari">
                <div class="card-body">
                    <h5 class="card-title">Inventari</h5>
                    <p class="card-text">Saber el que té la seva entitat, on i en quin estat es troba és fàcil amb la gestió d'inventari que ofereix Àgora.</p>
                </div>
            </div>
        </div>
    </div>